@font-face {
    font-family: 'Abar';
    src: url('./fonts/Abar-VF.woff2') format('woff2 supports variations'),
        url('./fonts/Abar-VF.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-primary: rgb(32, 33, 36);
    --text-secondary: rgb(95, 99, 104);
    --background: rgb(245, 246, 248);
    --background-secondary: rgb(235, 237, 240);
    --border: rgb(218, 220, 224);
    --border-hover: rgb(200, 203, 208);

    --radius: 10px;

    --blue: rgb(59 130 246);
    --blue-background: rgb(59 130 246/.1);
    --blue-border: rgb(59 130 246/.4);

    --yellow: rgb(245 158 11/var(--tw-text-opacity, 1));
    --green: rgb(16 185 129/var(--tw-text-opacity, 1));
    --leftright: 0 10px;
}

#hide {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Abar", Arial;
    font-weight: 400;
    background-color: var(--background);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    gap: 5px;
    padding: 6px;
    overflow: hidden;

}

.topBar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 5%;
    height: 5%;
    width: 100%;
    max-width: 600px;



    display: flex;
    align-items: center;

    gap: 5px;
}

.menuIcon {
    background-color: var(--blue-background);
    color: var(--blue);
    border: 1px solid var(--blue-border);
    font-weight: 500;
    border-radius: var(--radius);

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 5%;
    padding: var(--leftright);

}

.menuIcon:hover {
    background-color: var(--blue);
    color: var(--background);
    border-color: var(--background-secondary);
}

.menuIcon:active {
    transform: scale(0.98, 0.98)
}

.menuIcon i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.part2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-secondary);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    flex-grow: 1;
}

.topBar p {
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--text-secondary);
    padding: var(--leftright);
}


.logo {
    display: flex;
    height: 100%;
    padding: 7px;
}

.logo>img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.modelContain {
    width: 100%;
    max-width: 600px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 70%;
    flex-grow: 1;

}

.model {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--background-secondary);
    border-radius: var(--radius);
    border: 1px solid var(--border);
}

.model2 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--background-secondary);
    border-radius: var(--radius);
    border: 1px solid var(--border);
}

.load {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.load span {
    animation-name: pulsing;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loadCircle {
    width: 50px;
    height: 50px;
    border: 1px solid var(--border);
    border-radius: 50%;
    border-top: 1px solid var(--text-primary);
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

@keyframes pulsing {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1
    }
}

@keyframes spinning {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

/* .bar {
    background-color: var(--blue-background);
    width: 500px;
    height: 15px;
    border-radius: var(--radius);
    overflow: hidden;
    border: 1px solid var(--blue-border);

}

.inbar {
    width: 200%;
    height: 110%;
    background-color: var(--blue);
    transform: translateX(-500px);
    animation-name: moving;
    animation-duration: 3000ms;
    animation-timing-function: ease;
}

@keyframes moving {
    from {}

    to {
        transform: translateX(500px)
    }
} */

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 45%;
    align-items: center;
}

.buttons button {

    border-radius: var(--radius);
    padding: 10px;
    font-family: inherit;

    display: flex;
    gap: 5px;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

button i {
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    border-color: var(--border-hover);
}

button:active {
    transform: scale(0.99, 0.99)
}

.chngModel {
    background-color: var(--blue-background);
    color: var(--blue);
    border: 1px solid var(--blue-border);
    font-weight: 500;
}

.yellowButton {
    color: rgb(4, 95, 4);
    background-color: rgba(162, 221, 162, 0.534);
    border: 1px solid rgba(69, 95, 69, 0.301);
}

.reset {
    background-color: transparent;
    color: var(--text-secondary);
    border: 1px solid var(--border);
    font-weight: 500;
}


.panel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 600px;
}

.guide {
    background-color: transparent;
    color: var(--text-secondary);
    border: 1px dashed var(--border);
    width: 100%;
    border-radius: var(--radius);
    padding: var(--leftright);
    font-size: 0.8rem;
    text-align: center;
}

.secondpanel {
    display: flex;
    gap: 5px;

}

.info {
    flex-basis: 55%;
    background-color: var(--background);
    border-radius: var(--radius);
    display: flex;
    gap: 5px;
}

.info>div {
    background-color: var(--background);
    flex-grow: 1;
    border: 1px dashed var(--border);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    justify-content: space-evenly;
}

.info>div>span:nth-child(1) {
    font-size: 0.8rem;
    color: var(--text-secondary);
}

.info>div>span:nth-child(2) {
    font-weight: 600;
    text-align: right;
    color: var(--text-secondary);
}

.days {
    font-weight: 600;
    font-size: 1.1rem;
}

.guide span:nth-child(2),
.guide span:nth-child(4) {
    color: var(--green);
}

.guide span:nth-child(1),
.guide span:nth-child(3) {
    color: var(--yellow);
}

.modelPanel {
    background-color: var(--background-secondary);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 40%;
    z-index: 2;
    transition-property: transform;
    transition-duration: 1000ms;
    padding: var(--leftright);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modelPanel.hide {
    transform: translateX(100%);
}

.overlay.hidden {
    display: none;
}

.overlay {
    background-color: var(--text-primary);
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.buttsinMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.buttsinMenu button {
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    border: 1px solid var(--border);
    height: 50px;
    border-radius: var(--radius);
    font-family: inherit;
}

.firstRow {
    
    display: flex;

    font-family: inherit;
    gap: 10px;
}
.firstRow :nth-child(1) {
    flex-grow: 1;
        display: flex;
    justify-content: flex-start;
    align-items: center;
}

.firstRow :nth-child(2) {
    flex-grow: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstRow :nth-child(2) i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem ;
}

.firstRow :nth-child(1),
.firstRow :nth-child(2) {
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    border: 1px solid var(--border);
    height: 50px;
    border-radius: var(--radius);
}

.megamenu nav {
    display: flex;
}

.item1 {
    position: relative;
}
.options {
    display: none;
    flex-direction: row-reverse;
}

.item1:hover .options {
    display: block;
    position: absolute;
    top: 100%;
    z-index: 5;
}